<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" th:rel="stylesheet"/>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<main>
    <div class="container">
        <div th:insert="~{fragments/header :: header}"></div>
        <div class="d-grid gap-2 mx-2">
            <form th:action="@{/student}" method="get" enctype="multipart/form-data">
                <button type="submit" class="btn btn-primary  col-2">Student</button>
            </form>
            <form th:action="@{/teacher}" method="get" enctype="multipart/form-data">
                <button type="submit" class="btn btn-primary col-2">Teacher</button>
            </form>
            <form th:action="@{/lesson}" method="get" enctype="multipart/form-data">
                <button type="submit" class="btn btn-primary col-2">Lesson</button>
            </form>
            <form th:action="@{/course}" method="get" enctype="multipart/form-data">
                <button type="submit" class="btn btn-primary col-2">Course</button>
            </form>
            <form th:action="@{/group}" method="get" enctype="multipart/form-data">
                <button type="submit" class="btn btn-primary col-2">Group</button>
            </form>
        </div>
    </div>
</main>
<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>