<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" th:rel="stylesheet"/>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</head>
<body>

<div class="container-sm mt-5 col-3 card">
    <h2 class="mt-2">Log in</h2>
    <div th:if="${loginError}" class="error container p-2 bg-danger text-white text-center">
        **Login attempt unsuccessful.** Please double-check your username/email and password.
    </div>
    <form action="login" method='POST'>
        <div class="mb-3">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="username">
        </div>
        <div class="mb-3">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Log in</button>
            <a href="/" class="btn btn-success">Cancel</a>
        </div>
    </form>
</div>
</body>
</html>